body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.ai-komponentti {
    position: relative;
    z-index: 0;
    text-align: center;
    width: 80%;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.komponentti-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.user-prompt-form {
    display: grid;
    margin-bottom: 20px;
}

.user-prompt-form-textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    resize: none;
    margin: 0 auto;
}


.user-prompt-form-button {
    justify-self: center;
    width: 95px;
    height: 40px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-prompt-form-button:hover {
    background-color: #0056b3;
}

.ai-response {
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    text-align: left;
    white-space: pre-wrap;
    font-size: 15px;
    color: #333;
}

.ai-response-error {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: #333;
    background-color: #f8f9fa;
    padding: 10px;
}

.contact-form-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    display: grid;
    margin-bottom: 20px;
}

.contact-form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    gap: 5px;
    width: 400px;
}

.contact-form-select {
    width: 177px;
}

.contact-form-textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    resize: none;
    margin: 0 auto;
    margin-top: 10px;
}

.contact-form-button {
    justify-self: center;
    width: 95px;
    height: 40px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form-button-reverse {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ec0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form-button:hover {
    background-color: #0056b3;
}

.contact-form-button-reverse:hover {
    background-color: #c00101;
}

.loading-spinner {
    margin: 0 auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes slideUp {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(-15vh);
    }
}

.user-continue-prompt {
    display: grid;
    bottom: -100px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: #000000 5;
    background-color: #ffffff;
    z-index: 1;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    animation: slideUp 0.5s ease-out forwards;
}

.user-continue-prompt-header {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.user-continue-prompt-message {
    font-size: 18px;
}

.user-continue-prompt-buttons {
    display: flex;
    justify-self: center;
    padding: 20px;
    gap: 10px;
}

.prompt-form-button {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prompt-form-button-reverse {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #ec0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prompt-form-button:hover {
    background-color: #0056b3;
}

.prompt-form-button-reverse:hover {
    background-color: #c00101;
}